#foto {
    width : 300px;
    border-radius: 50%;
    margin: 2rem 0;
}

.imagen-c-sharp {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 10px;
}

.imagen-angular {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 10px;
}

.imagen-nodejs {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 10px;
}

.imagen-nestjs {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 10px;
}

.contenedor-habilidades-database {
    border-radius: 15px 0 0 15px;
    box-shadow: 0 5px 5px 0 gray;
}

.contenedor-habilidades-backend {
    box-shadow: 0 5px 5px 0 gray;
}

.contenedor-habilidades-frontend {
    border-radius: 0 15px 15px 0;
    box-shadow: 0 5px 5px 0 gray;
}

.habilidades i {
    color: #0d6efd;
    font-size: 50px;
}