.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .card-hover:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

.tech-badge {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 0.9rem;
}

@media (max-width: 576px) {
    .card-header h5, .card-header h6, .card-header p {
        font-size: 0.9rem;
    }

    .tech-badge {
        font-size: 0.8rem;
        flex-wrap: wrap;
    }

    .card-body ul,
    .card-footer {
        padding: 0.5rem;
    }
}