<div class="card mt-3">
    <div class="card-header">
        <h4 class="card-title text-primary text-uppercase">Idiomas</h4>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="fw-bold">Nativo</div>
                <div class="d-flex align-items-start">
                    <div class="fw-semibold">Español</div>
                    <span class="badge text-bg-primary ms-3">Latinoamérica</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="fw-bold">Basico</div>
                <div class="d-flex align-items-start">
                    <div class="fw-semibold">Ingles</div>
                    <span class="badge text-bg-primary ms-3">Estados Unidos</span>
                </div>
            </li>
        </ul>
    </div>
</div>
