<div class="card">
    <div class="card-header">
        <h4 class="card-title text-primary text-uppercase">Perfil Profesional</h4>
    </div>
    <div class="card-body">
        <p class="lh-base">
            Desarrollador de software enfocado en tecnologías modernas y con un firme compromiso con el aprendizaje continuo. 
            Me desempeño en el ecosistema **.NET**, trabajando con **Web API, Blazor, MVC y Windows Forms**, y actualmente en formación con 
            **.NET MAUI** para el desarrollo de aplicaciones móviles multiplataforma con el lenguaje **C#**. 
        </p>
        <p class="lh-base">
            También cuento con experiencia en **Angular**, lo que me ha permitido fortalecer mis conocimientos en 
            **JavaScript** y **TypeScript**, desarrollando interfaces dinámicas y escalables. Manejo **HTML** y **CSS** 
            para la construcción de interfaces atractivas y funcionales, garantizando una experiencia de usuario optimizada.
        </p>

        <p class="lh-base">
            Trabajo con gestores de bases de datos como **SQL Server** y **PostgreSQL**, aplicando buenas prácticas en diseño, 
            consultas y optimización de estructuras para asegurar rendimiento y eficiencia.  

            Además, poseo habilidades en **Git y GitHub**, fundamentales para la gestión de versiones y el trabajo colaborativo en equipo.
        </p>

        <p class="lh-base">
            Me caracterizo por una mentalidad analítica, capacidad de resolución de problemas y un enfoque proactivo, 
            buscando siempre oportunidades para innovar y generar impacto en cada proyecto. Estoy preparado para afrontar 
            nuevos desafíos y continuar creciendo en el mundo del desarrollo de software.
        </p>
    </div>
</div>