@{
    ViewData["Title"] = "Mensaje";
}
<div class="container mt-5">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Mensaje enviado con exito!</h4>
        <p>
            @ViewBag.Mensaje
        </p>
        <hr>
        <p class="mb-0">
            Gracias por contactarme!!!.
        </p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary mt-3">
            Inicio
        </a>
    </div>
</div>