<footer class="footer bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-start">
        <div class="row text-center text-md-start">

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 fw-bold text-warning">César Ricardo Castellón Ramírez</h5>
                <p>Desarrollador de software apasionado por crear soluciones robustas y escalables, con un enfoque en tecnologías modernas y el aprendizaje continuo.</p>
            </div>
            <!--Enlaces Rapidos-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 fw-bold text-warning">Enlaces Rápidos</h5>
                <p>
                    <a asp-action="Index" asp-controller="Home" class="text-white" style="text-decoration: none;">Inicio</a>
                </p>
                <p>
                    <a asp-action="Index" asp-controller="Proyecto" class="text-white" style="text-decoration: none;">Proyectos</a>
                </p>
                <p>
                    <a asp-action="Index" asp-controller="Curriculum" class="text-white" style="text-decoration: none;">Curriculum</a>
                </p>
                <p>
                    <a asp-action="Index" asp-controller="Contacto" class="text-white" style="text-decoration: none;">Contactame</a>
                </p>
            </div>
            <!--Contacto-->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 fw-bold text-warning">Contacto</h5>
                <p><i class="bi bi-house-door"></i> Managua, Nicaragua</p>
                <p><i class="bi bi-envelope"></i> ricardo18cr@icloud.com</p>
                <p><i class="bi bi-telephone"></i> +505 8466 2954</p>
            </div>
            <!--Redes Sociales-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 fw-bold text-warning">Sígueme</h5>
                <a href="https://github.com/castellon18" class="btn btn-outline-light btn-floating m-1" role="button" data-mdb-ripple-color="dark" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/cesar-castellon/" class="btn btn-outline-light btn-floating m-1" role="button" data-mdb-ripple-color="dark" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://discord.com/users/ricardocastellon_54146" class="btn btn-outline-light btn-floating m-1" role="button" data-mdb-ripple-color="dark" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-discord"></i>
                </a>
            </div>
        </div>

        <hr class="mb-4">

        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p class="text-center text-md-start">
                    Copyright &copy; 2025 - Todos los derechos reservados por
                    <a asp-action="Index" asp-controller="Home" style="text-decoration: none;">
                        <strong class="text-warning">César Ricardo Castellón Ramírez</strong>
                    </a>
                </p>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-end">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="#" class="text-white"><i class="bi bi-code fs-5"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>