<div class="row justify-content-md-center text-center habilidades mt-3 pt-3">
    <!--Contenedor de Habilidades de Bases de datos-->
    <div class="col col-3 contenedor-habilidades-database">
        <i class="bi bi-database-fill"></i>
        <h3>Bases de Datos</h3>
        <p>
            Gestión, diseño, implementación, supervisión, mantenimiento, seguridad y optimización de los sistemas de bases de datos para asegurar la integridad, disponibilidad y eficiencia de la información.
        </p>
        <p class="text-primary cabecera">Stack:</p>
        <ul class="list-group">
            <li class="list-group-item">SQL Server</li>
            <li class="list-group-item">PostgreSQL</li>
        </ul>
        <p class="text-primary cabecera">Experiencia:</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Procedimientos Almacenados</li>
            <li class="list-group-item">Funsiones</li>
            <li class="list-group-item">Vistas</li>
            <li class="list-group-item">Consultas(DDL, DML, DQL)</li>
        </ul>
    </div>
    <!--Contenedor de Habilidades de Backend-->
    <div class="col col-3 contenedor-habilidades-backend">
        <i class="bi bi-hdd-fill"></i>
        <h3>Back-End</h3>
        <p>
            Trabajo desde el desarrollo, pruebas automáticas y puestas a producción con entrega continua.
        </p>
        <p class="text-primary cabecera">Stack:</p>
        <ul class="list-group">
            <li class="list-group-item">ASP.NET CORE</li>
            <li class="list-group-item">Node Js</li>
        </ul>
        <p class="text-primary cabecera">Experiencia:</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Lenguaje C#</li>
            <li class="list-group-item">Lenguaje JavaScript</li>
            <li class="list-group-item">Lenguaje TypeScript</li>
            <li class="list-group-item">ASP.NET CORE Web APIs</li>
            <li class="list-group-item">ASP.NET Core MVC</li>
            <li class="list-group-item">Entity Framework Core</li>
            <li class="list-group-item">Express</li>
            <li class="list-group-item">Server Web APIs</li>
        </ul>
    </div>
    <!--Contenedor de Habilidades de Fronted-->
    <div class="col col-3 contenedor-habilidades-frontend">
        <i class="bi bi-code-slash"></i>
        <h3>Front-End</h3>
        <p>
            Puedo crear front-end robustos, los cuales cumplen con los requerimientos del negocio.
        </p>
        <p class="text-primary cabecera">Stack:</p>
        <ul class="list-group">
            <li class="list-group-item">BLAZOR</li>
            <li class="list-group-item">ANGULAR</li>
        </ul>
        <p class="text-primary cabecera">Experiencia:</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">HTML</li>
            <li class="list-group-item">CSS</li>
            <li class="list-group-item">Blazor Server</li>
            <li class="list-group-item">Boostraps</li>
            <li class="list-group-item">TailwindCss</li>
            <li class="list-group-item">Daisy UI</li>
            <li class="list-group-item">Angular Material</li>
        </ul>
    </div>
    <!--Contenedor de Habilidades de Hardware-->
    <div class="col col-3 contenedor-habilidades-frontend">
        <i class="bi bi-code-slash"></i>
        <h3>Hardware</h3>
        <p>
            Capacidad de resolver problemas, mantener, actualizar y optimizar el rendimiento del hardware.
        </p>
        <p class="text-primary cabecera">Stack:</p>
        <ul class="list-group">
            <li class="list-group-item">Reparación y Mantenimineto</li>
            <li class="list-group-item">Cableado Estructurado</li>
        </ul>
        <p class="text-primary cabecera">Experiencia:</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Instalación y configuración de sofware</li>
            <li class="list-group-item">Diagnostico y solución de problemas técnicos</li>
            <li class="list-group-item">Configuración y administración de redes</li>
        </ul>
    </div>
</div>