<div class="container mt-4">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4 text-center">

    <!-- Bases de Datos -->
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <i class="bi bi-database-fill fs-1"></i>
          <h3 class="card-title mt-2">Bases de Datos</h3>
          <p class="card-text">
            Gestión, diseño, implementación y optimización de sistemas para asegurar integridad y eficiencia.
          </p>
          <p class="text-primary cabecera">Stack:</p>
          <ul class="list-group mb-3">
            <li class="list-group-item">SQL Server</li>
            <li class="list-group-item">PostgreSQL</li>
          </ul>
          <p class="text-primary cabecera">Experiencia:</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Procedimientos Almacenados</li>
            <li class="list-group-item">Funciones</li>
            <li class="list-group-item">Vistas</li>
            <li class="list-group-item">Consultas (DDL, DML, DQL)</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Backend -->
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <i class="bi bi-hdd-fill fs-1"></i>
          <h3 class="card-title mt-2">Back-End</h3>
          <p class="card-text">
            Desarrollo, pruebas automáticas y puestas a producción con CI/CD.
          </p>
          <p class="text-primary cabecera">Stack:</p>
          <ul class="list-group mb-3">
            <li class="list-group-item">.NET Web API</li>
          </ul>
          <p class="text-primary cabecera">Experiencia:</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">C#</li>
            <li class="list-group-item">Dapper</li>
            <li class="list-group-item">Entity Framework Core</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Frontend -->
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <i class="bi bi-code-slash fs-1"></i>
          <h3 class="card-title mt-2">Front-End</h3>
          <p class="card-text">
            Creación de interfaces robustas y escalables alineadas al negocio.
          </p>
          <p class="text-primary cabecera">Stack:</p>
          <ul class="list-group mb-3">
            <li class="list-group-item">.NET Windows Form</li>
            <li class="list-group-item">.NET MVC</li>
            <li class="list-group-item">Blazor</li>
            <li class="list-group-item">Angular</li>
          </ul>
          <p class="text-primary cabecera">Experiencia:</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">HTML</li>
            <li class="list-group-item">CSS</li>
            <li class="list-group-item">JavaScript</li>
            <li class="list-group-item">TypeScript</li>
            <li class="list-group-item">Bootstrap</li>
            <li class="list-group-item">Tailwind CSS</li>
            <li class="list-group-item">Daisy UI</li>
            <li class="list-group-item">Angular Material</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Hardware -->
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <i class="bi bi-motherboard fs-1"></i>
          <h3 class="card-title mt-2">Hardware</h3>
          <p class="card-text">
            Optimización de rendimiento, mantenimiento y resolución de problemas físicos.
          </p>
          <p class="text-primary cabecera">Stack:</p>
          <ul class="list-group mb-3">
            <li class="list-group-item">Soporte Técnico</li>
            <li class="list-group-item">Cableado Estructurado</li>
          </ul>
          <p class="text-primary cabecera">Experiencia:</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Gestión de Incidentes (Mesa de Ayuda)</li>
            <li class="list-group-item">Mantenimiento Preventivo y Correctivo</li>
            <li class="list-group-item">Gestión de Sistemas Operativos</li>
            <li class="list-group-item">Soporte de Software y Aplicaciones</li>
            <li class="list-group-item">Respaldo y Recuperación</li>
            <li class="list-group-item">Instalación Física</li>
            <li class="list-group-item">Diseño e Implementación</li>
            <li class="list-group-item">Instalación de Canalizaciones</li>
            <li class="list-group-item">Conectorización y Remate</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>