<div class="container bg-body-tertiary border rounded shadow p-4 my-5">
    <div class="row align-items-center justify-content-center g-4">
        <div class="col-12 col-md-7 text-center text-md-start">
            <h1 class="display-6 fw-bold mb-3 text-success">
                Soy César Ricardo Castellón Ramírez
            </h1>
            <p class="lead lh-base mb-4">
                Apasionado por el desarrollo de software, con un enfoque en tecnologías modernas y un firme compromiso con el aprendizaje continuo.
                Como desarrollador en formación, tengo experiencia en frontend y backend, trabajando con Angular, .NET, Node.js y NestJs para la
                creación de soluciones robustas y escalables.
            </p>
            <div class="d-flex flex-wrap justify-content-center justify-content-md-start gap-2">
                <span class="badge rounded-pill text-bg-dark">
                    C# <img class="imagen-c-sharp ms-2" src="~/assets/img/c-sharp.svg" alt="Logo C#" />
                </span>
                <span class="badge rounded-pill text-bg-dark">
                    Angular <img class="imagen-angular ms-2" src="~/assets/img/angular.svg" alt="Logo Angular" />
                </span>
                <span class="badge rounded-pill text-bg-dark">
                    Nodejs <img class="imagen-nodejs ms-2" src="~/assets/img/nodejs-logo.svg" alt="Logo Node.js" />
                </span>
                <span class="badge rounded-pill text-bg-dark">
                    Nestjs <img class="imagen-nestjs ms-2" src="~/assets/img/nestjs.svg" alt="Logo Nest.js" />
                </span>
            </div>
        </div>
        <div class="col-12 col-md-5 text-center">
            <img id="foto" src="~/assets/img/logoDayemi.jpg" class="img-fluid rounded-circle shadow-lg" alt="César Ricardo Castellón Ramírez" style="max-width: 250px;" />
        </div>
    </div>
</div>