<div class="container bg-body-tertiary border rounded shadow p-4 my-5">
    <div class="row align-items-center justify-content-center g-4">
        <div class="col-12 col-md-7 text-center text-md-start">
            <h1 class="display-6 fw-bold mb-3 text-success">
                Soy César Ricardo Castellón Ramírez
            </h1>
            <p class="lead lh-base mb-4">
                Soy desarrollador de software con conocimientos sólidos en el ecosistema .NET (Web API, Blazor, MVC, Windows Forms) y en formación con MAUI para móviles usando C#.  
                Trabajo también con Angular, aplicando JavaScript y TypeScript para crear interfaces modernas y dinámicas.  
                Manejo HTML y CSS para construir experiencias de usuario atractivas y funcionales.  
                Tengo experiencia con bases de datos SQL Server y PostgreSQL, optimizando estructuras y consultas para un mejor rendimiento.  
                Mi portafolio refleja mi crecimiento profesional y mi compromiso con el aprendizaje continuo.
            </p>
            <div class="d-flex flex-wrap justify-content-center justify-content-md-start gap-2">
                <span class="badge rounded-pill text-bg-dark">
                    C# <img class="imagen-c-sharp ms-2" src="~/assets/icons/c-sharp.svg" alt="Logo C#" />
                </span>
                <span class="badge rounded-pill text-bg-dark">
                    Blazor <img class="imagen-c-sharp ms-2" src="~/assets/icons/blazor.svg" alt="Logo Blazor" />
                </span>
                <span class="badge rounded-pill text-bg-dark">
                    .NET <img class="imagen-c-sharp ms-2" src="~/assets/icons/dotnet-official.svg" alt="Logo Node.js" />
                </span>
                <span class="badge rounded-pill text-bg-dark">
                    Javascript <img class="imagen-c-sharp ms-2" src="~/assets/icons/javascript-icon.svg" alt="Logo Javascript" />
                </span>
                <span class="badge rounded-pill text-bg-dark">
                    Typescript <img class="imagen-c-sharp ms-2" src="~/assets/icons/typescriptlang-icon.svg" alt="Logo Typescript" />
                </span>
                <span class="badge rounded-pill text-bg-dark">
                    Angular <img class="imagen-c-sharp ms-2" src="~/assets/icons/angular.svg" alt="Logo Angular" />
                </span>
            </div>
        </div>
        <div class="col-12 col-md-5 text-center">
            <img id="foto" src="~/assets/photos/logoDayemi.jpg" class="img-fluid rounded-circle shadow-lg" alt="César Ricardo Castellón Ramírez" style="max-width: 250px;" />
        </div>
    </div>
</div>