@model HomeIndexViewModel;

<div class="container bg-body-tertiary border rounded shadow p-4 my-5">
    
    <h1 class="text-center mb-2 fw-bold text-primary">
        Mis trabajos recientes
    </h1>
    
    <p class="text-center text-muted mb-4">
        Aquí puedes ver algunos de mis trabajos más recientes.
    </p>
    
    <partial name="_ProyectosPartial" model="Model.Proyectos" />
</div>

